* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

main {
    width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

h2{
    margin: 0 0 20px 0;
}

main div {
    margin-bottom: 20px;
}

button {
    color: white;
    padding: 10px 30px;
    background-color: #e21d2a;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
